<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost\PRI;Trusted_Connection=Yes;" name="priority" />
  </connectionStrings>
  <appSettings>
    <add key="oDataHost" value="http://localhost:8080" />
    <add key = "MerchantName" value=""/>
    <add key = "normalPassword" value=""/>
    <add key = "rebatePassword" value=""/>
    <add key = "refundPassword" value=""/>
    <add key = "transAccount" value=""/>
    <add key="_SQLQueryT" value="SELECT SUM(PAYMENT.QPRICE) AS txtAmount, INVOICES.TYPE AS ITYPE, INVOICES.IV, INVOICES.IVNUM, INVOICES.CUST as CUST, EMG_ADDRESSC AS BILLCITY, CUSTDES AS BILLCOMPANY, COUNTRYNAME AS BILLCOUNTRY, ZIP AS BILLPCODE, [STATE] AS BILLCOUNTY, [ADDRESS] AS BILLSTREET1, EMG_ADDRESSB AS BILLSTREET2, INVOICESA.ZTRX_MERCHANT_ID FROM dbo.INVOICESA, dbo.INVOICES, dbo.CUSTOMERS, dbo.COUNTRIES, dbo.ZTRX_MERCHANTIDS, dbo.PAYMENT, dbo.PAYMENTTYPE WHERE INVOICES.IVNUM= '%qIVNUM%' AND INVOICES.IV= INVOICESA.IV AND PAYMENT.IV = INVOICES.IV AND PAYMENT.PAYMENTTYPE = PAYMENTTYPE.PAYMENTTYPE AND INVOICES.CUST=CUSTOMERS.CUST AND CUSTOMERS.COUNTRY = COUNTRIES.COUNTRY AND INVOICES.TYPE = 'T' AND INVOICESA.ZTRX_MERCHANT_ID = ZTRX_MERCHANTIDS.MERCHANT_CODE AND PAYMENTTYPE.PAYMENTCODE = '88' GROUP BY INVOICES.TYPE, INVOICES.IV, CUSTOMERS.CUSTNAME, INVOICES.IVNUM, INVOICES.CUST, EMG_ADDRESSC, CUSTDES, COUNTRYNAME, ZIP, [STATE], [ADDRESS], EMG_ADDRESSB, INVOICESA.ZTRX_MERCHANT_ID "/>
    <add key="_SQLQueryE" value="SELECT INVOICES.TOTPRICE AS txtAmount, INVOICES.TYPE AS ITYPE, IV, INVOICES.IVNUM, INVOICES.CUST, CUSTOMERS.CUSTNAME FROM dbo.INVOICES, dbo.CUSTOMERS WHERE IVNUM= '%qIVNUM%' AND INVOICES.CUST=CUSTOMERS.CUST AND INVOICES.TYPE = 'E'"/>
    <add key="_SQLQuerySO" value="SELECT ORDERS.TOTPRICE AS txtAmount, ORDERS.CUST as CUST, ORDERS.ORD, ORDERS.ORDNAME FROM dbo.ORDERS, dbo.CUSTOMERS WHERE ORDNAME= '%qIVNUM%'  AND ORDERS.CUST=CUSTOMERS.CUST"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
